*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
  }
  
  body {
    font-family: 'Titillium Web', sans-serif;
    background-size:cover;
  }

  header {
    background-image: url('../img/3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 200px;
}

header h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 50px;
    padding-top: 30px;
}

nav {
    /* background-image: url("media/gtd_logo.png");
    background-repeat: no-repeat; */
    background-color: #4F4D53;
    /* background-position: 320px;  */
    height: 50px;
}

.post-prop {
    border: 1px solid white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 3.5px;
    background-color: white;
    padding: 10px;
    float: right;
    margin: 5px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #53A5E1;
    font-weight: 500;
    font-size: 1rem;

}

.post-prop:hover{
    background-color: #283044;
    color: white;
}
.post-prop a{
  text-decoration: none;
}
.post-prop a:hover{
  color: white;
}


section {
    text-align: center;
    background-color: azure;
    margin-top: 5px;
}

section h2 {
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    color: #53A5E1;
    font-size: 40px;
}

section p {
    color: #4F4D53;
    font-size: 20px;
    text-align: center;
    width: 50%;
    margin: 0 auto 30px;

}

.image img {
    width: 20%;
    height: 10%;
    border-radius: 20%;
    margin: 30px;
}

.frm-content {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #485460;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    border-top: 5px solid rgb(14, 100, 180);
    padding: 0.9375rem;
    text-align: center;
    /* margin-bottom: 1.25rem;
    margin-top: 5px; */
    width: 50%;
    margin: 5px auto ;
    display: none;
  }

  .frm-content p{
  text-shadow: 2px 2px 4px #000000;
  color: white;
  font-weight: 1000;
  font-size: 1.6rem;
}


.view-prop {
    display: flex;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 30%;
    margin: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    padding: 2px 16px;
  }

  img {
      width: 100%;
  }

  .deletePost, .getOneProp {
    width: 25%;
    text-align: center;
    background-color:#eb3b5a;
    color: white;
    padding: 3px;
    border: 5px solid #eb3b5a;
    border-radius: 3.5px;
    cursor: pointer;
    font-size: 1.35rem;
    margin: 2px;

  }
  
  .deletePost:hover{
    box-shadow: 0 1rem 2rem rgba(0,0,0, 0.6);    
  } 
  .getOneProp:hover {
    box-shadow: 0 1rem 2rem rgba(0,0,0, 0.6);
  }
  
 .getOneProp:focus {
    outline: none;
  }
  .deletePost:focus {
    outline: none;
  }

input[type=text]{
  width: 35%;
  text-align: center;
  padding: 10px;
  margin: 5px;
  border-radius: 3.5px;
  background: #303952;
  color: white;
  border: 1px solid #2C3A47;
}

::placeholder {
  color: #d2dae2;
  opacity: 1; 
  text-align: center;
}

.post-p{
    width: 25%;
    text-align: center;
    background-color:#eb3b5a;
    color: white;
    padding: 3px;
    border: 5px solid #eb3b5a;
    border-radius: 3.5px;
    cursor: pointer;
    font-size: 1.35rem;
    margin: 2px;
}
.post-p:hover{
    box-shadow: 0 1rem 2rem rgba(0,0,0, 0.6);
}

.post-p:focus{
    box-shadow: 0 1rem 2rem rgba(0,0,0, 0.6);
}
.type-prop, .price-range{
  border: 2px solid black;
  border-radius: 2.5px;
  cursor: pointer;
  padding: 10px;
  outline:none;
}
